*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}



body{

    background-color: fefefe;
    color: #252525;
    transition: 0.5s ease-in-out;
}

.small-txt {
    margin: 20px;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;   
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
} 

input[type="checkbox"]:checked {
    background-color: #03989e;
}

input[type="checkbox"]::before {
     content: '';
     position: absolute;
     width: 16px;
     height: 16px;
     background-color: #fefefe;
     border-radius: 50%;
     top: 2px;
     left: 2px;
     transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

.dark-mode {
    background-color: #252525;
    color: #fefefe;

}

.dark-mode #imagenes{

    border-radius: 200px;
    
}



.dark-mode .contacto{

    background-color: #252525;
}

.dark-mode .contacto :hover{

color: #00191a;
}


h1{

    font-size: 25px;
}
  
h2{
  
    font-size: 16px;
}

.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00191a;
    color: #fefefe;
}

.logo {

    max-width: 5rem;
}


.nav-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    list-style: none;
}

.nav-bar li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: 20px;
   
}

.nav-bar li:hover {
    background-color: #555;
    border-radius: 25px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.container{

    display: flex;
    margin-top: 60px;
}

.sobremi-texto{
  
    text-align: justify;
    justify-content: center;
    padding: 80px;
    margin: 0 30px;
  
}
  
.sobremi-texto h1{
  
    text-align: center;
    margin-bottom: 20px;
    
}

#boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00191a;
    color: #fbfbfb;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 18px;
    margin-top: 30px;
    margin-left: 145px;   
}

#boton:hover{

    background-color: #03989e;
    color: #fbfbfb;
}
  
   
.experiencia{
  
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.experiencia h1{

    text-align: center;
    padding: 40;
    margin-bottom: 30px;
       
}

.habilidades{

    text-align: justify;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    
  }

.habilidades h1{
    text-align: center;
    padding: 40px;
    
}

.contacto{

    text-align: center;
    background-color: #252525;
    color: #fefefe;
    border-radius: 10px;
    height: 130px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    
}
 
.contacto iconos{

    display: flex;
    justify-content:center;
    height: 100px;
    
}

.contacto .fa-brands {

    color: #fbfbfb;
    font-size: 40px;
    margin: 30px;
}

.contacto .fa-regular{

    color: #fbfbfb;
    font-size: 40px;
    margin: 30px;
}
 

.contacto :hover{

    color: #00191a;

}   

footer{

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90px;
    background-color: #00191a;
    color:  #fafafa;
    margin: 0;
    padding: 0;

}

@media only screen and (max-width: 767px){

#checkitem{

    display: none;
}
.toggle-button {

        display: flex;
}

.nav-bar {
        display: none;
        width: 100%;
}

.nav{

        flex-direction: column;
        align-items: flex-start;
}

.nav-bar ul {
        width: 100%;
        flex-direction: column;
}

.nav-bar li{

     text-align: center;

}

.nav-bar li a {

        padding: .5rem 1rem;
    }

.nav-bar .active {
        display: flex;

}
   
.container{

     display: block;
     margin-top: 60px;
     justify-content: center;
    
    }

.container #imagenes {

        min-width: 50px;
        max-width: 400px;
        width: 100%;   
}

.sobremi-texto{
    text-align: justify;
    margin: 5px;
    padding: 5px;
    
}
    
.sobremi-texto h1{
    
        margin-top: 40px;
}
    
.sobremi-texto #boton{
    
    margin-bottom: 30px;  
    background-color: #00191a;
    
}
    
.experiencia h1{
    
     margin-top: 40px;
}
    
}


    







