*{
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1{

  font-size: 25px;
}

h2{

  font-size: 16px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo{
  max-width: 30 rem;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.nav-menu-item a{
  text-decoration: none;
  color: #00191a;
}


nav a {
  transition: background-color 0.3s;
  padding: 1rem;
  align-items: right;
}

nav a:hover {
  background-color: #03989e;
  color: #fafafa;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


.container{

  display: flex;
  align-items: center;
  margin-top: 60px;

  }


.sobremi-texto{
  
  text-align: justify;
  justify-content: center;
  padding: 80px;
  margin: 0 30px;

}

.sobremi-texto h1{

  text-align: center;
  margin-bottom: 20px;
  
}


#boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03989e;
    color: #fbfbfb;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 18px;
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 140px;
    
}

#boton:hover{

  background-color: #00191a;
  color: #03989e;
}



.experiencia{

  text-align: justify;
}

.experiencia h1{
  text-align: center;
  padding: 40;
  margin-bottom: 30px;
  
  
}
.habilidades{
  text-align: justify;
  justify-content: center;
  background-color: #fafafa;
  margin-bottom: 30px;
  
}



.habilidades h1{
  text-align: center;
  padding: 40px;
  
}
.contacto{
  text-align: center;
  background-color: #03989e;
  border-radius: 10px;
  


}
.contacto .iconos{
display: flex;
justify-content:center ;


}

.contacto .iconos :hover{
  color: #fafafa;
}

footer{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 90px;
  background-color: #00191a;
  color:  #fafafa;
  margin: 5px;
  padding: 5px
}

@media screen and (max-width: 930px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: #03989e;
      cursor: pointer;
  }

  .abrir-menu {
      color: #1c1c1c;
  }

  .cerrar-menu {
      color: #013b3d;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-menu {
      flex-direction: column;
      align-items: end;
  }

  .nav-menu li a {
      color: #fff;

  
  }

  h1{

    font-size: 15px;
  }

  p {
    font-size: 13px;
  }
.container{

  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  }

  .sobremi-texto{
    background-color: #03989e;
    color: #fbfbfb;

  }

  #boton{
    
    background-color: #00191a;
    color: #fdfdfd;
    text-align: center;
    
    
  }
  

}

@media screen and (max-width: 930px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: #03989e;
      cursor: pointer;
  }

  .abrir-menu {
      color: #1c1c1c;
  }

  .cerrar-menu {
      color: #013b3d;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-menu {
      flex-direction: column;
      align-items: end;
  }

  .nav-menu li a {
      color: #ecececec;

  
  }

  h1{

    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
.container{

  flex-direction: column;
  align-items: center;
  margin:0;
  padding: 0;

  }

  .sobremi-texto{
    background-color: #013b3d;
    color: #fbfbfb;

  }

  #boton{

    
     
    background-color: #00191a;
    color: #fdfdfd;
    text-align: center;
    
  }
  

}